NODE_ENV=production

# --- DynamoDB ---
DYNAMODB_TABLE=

# --- Amazon Cognito ---
COGNITO_REGION=ap-southeast-1
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=

# --- CORS ---
FRONTEND_URL=

# --- AWS S3 (Upload ảnh) ---
AWS_S3_BUCKET=
AWS_S3_REGION=ap-southeast-1

# --- Google Gemini AI ---
GEMINI_API_KEY=
